body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.infor{
    background-color:#f4f4f9;
    color:#1e90ff;
}
h3{
    color: #1e90ff;
}
.cs1{
    color: red;
}
.cs2{
    font-style: italic;
}
.cs3{
    text-decoration: underline;
}
.cs4{
    font-weight: bolder;
}